<div id="carouselExampleDark" class="carousel carousel-dark slide">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../../../assets/Images/BGOSellv2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block" id="bannerCaption">
        <h5 class="h1 ">Enrich Your Living </h5>
        <p class="h2 ">Shop Now To Get Good Offers.</p>
        <a class="btn btn-dark mb-3 fs-5" routerLink="/products"> Shop Now</a>
      </div>
    </div>

  </div>