<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">

    <form class="shadow p-4 " (ngSubmit)="onSubmit(newPassword.value, confirmPassword.value)">
        <h1 class="h3 mb-3 fw-normal">Change your password </h1>

        <div class="form-floating">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="newPassword"
                required #newPassword>
            <label for="newPassword">New Password</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                name="confirmPassword" required #confirmPassword>
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <br>

        <button class="btn btn-dark text-white w-100 py-3" type="submit"><i
                class="bi bi-check-circle-fill">Submit</i></button>
    </form>

</div>